<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="title">Register Here</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username/Email</span>
                    <input type="text" placeholder="Please Enter your Username or Email Address" required>
                </div>
                <div class="input-box">
                    <span class="details">Mobile Number</span>
                    <input type="text" placeholder="Please Enter your Mobile Number" required>
                </div>
               
                
            </div>
            <div class="button">
                <input type="submit" value="Click here to send Reset Link">
            </div>
        </form>
    </div>
</body>
</html>
