<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Profile</title>
</head>
<body>
    <nav>
        <div  class="icon"><img src="/assets/img/googlelogo.png" width="150px"/> ACCOUNT</div>
        <div class="search-box">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search Google Account">
        </div>
        <ol>
            <li class="las la-ellipsis-v"><a href="#"></a></li>
            <li class="las la-braille"><a href="#"></a></li>
            <li class="las la-user-circle"></li>
        </ol>
    </nav>
</body>
</html>
